In [2]:
import pandas as pd

In [3]:
fortune = pd.read_csv("fortune1000.csv")
fortune

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
11,12,AmerisourceBergen,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
12,13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
14,15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
15,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
16,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
17,18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
18,19,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
19,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
20,21,Cardinal Health,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
21,22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
22,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
24,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
25,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
26,27,Wells Fargo,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
27,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
28,29,Citigroup,Financials,Commercial Banks,"New York, NY",88275,17242,231000
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
...,...,...,...,...,...,...,...,...
970,971,VeriFone Systems,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
971,972,Genesee & Wyoming,Transportation,Railroads,"Darien, CT",2000,225,7500
972,973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
973,974,Roadrunner Transportation Systems,Transportation,Transportation and Logistics,"Cudahy, WI",1995,48,4502
974,975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
975,976,First Republic Bank,Financials,Commercial Banks,"San Francisco, CA",1989,522,3130
976,977,Hill-Rom Holdings,Health Care,Medical Products and Equipment,"Chicago, IL",1988,48,10000
977,978,Providence Service,Health Care,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
978,979,Allison Transmission Holdings,Motor Vehicles & Parts,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
979,980,Spire,Energy,Utilities: Gas and Electric,"St. Louis, MO",1976,137,3078
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
981,982,Century Aluminum,Materials,Metals,"Chicago, IL",1950,-59,1778
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
983,984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
984,985,Primoris Services,Engineering & Construction,"Engineering, Construction","Dallas, TX",1929,37,7011
985,986,Schnitzer Steel Industries,Materials,Metals,"Portland, OR",1924,-197,2955
986,987,Delta Tucker Holdings,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000
987,988,Hospitality Properties Trust,Financials,Real estate,"Newton, MA",1922,166,400
988,989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300
989,990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
990,991,BlueLinx Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
991,992,Revlon,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
992,993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
993,994,MDC Holdings,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [4]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [3]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

## The `.groupby()` Method

In [4]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## Retrieve A Group with the `.get_group()` Method

In [39]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## Methods on the Groupby Object and `DataFrame` Columns

In [6]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(1)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000

In [7]:
sectors.get_group("Technology")["Profits"].sum()

180473

In [6]:
#sectors.max()
#sectors.min()
#sectors.sum()
#sectors.mean()
sectors.describe()

                             Revenue                                      \
                               count          mean           std     min
Sector
Aerospace & Defense             20.0  17897.000000  24468.237017  1923.0
Apparel                         15.0   6397.866667   7254.770616  2204.0
Business Services               51.0   5337.156863   4102.377498  1910.0
Chemicals                       30.0   8129.900000   9575.323185  2084.0
Energy                         122.0  12441.057377  27362.358215  1898.0
Engineering & Construction      26.0   5922.423077   4579.682742  1909.0
Financials                     139.0  15950.784173  27105.928018  1902.0
Food and Drug Stores            15.0  32251.266667  48595.512604  2151.0
Food, Beverages & Tobacco       43.0  12929.465116  15732.585231  2066.0
Health Care                     75.0  21529.426667  35680.266614  1987.0
Hotels, Resturants & Leisure    25.0   6781.840000   6012.189110  1896.0
Household Products              28.0   8383.464286  14416.609895  1914.0
Industrials                     46.0  10816.978261  22070.679715  1895.0
Materials                       43.0   6026.627907   4698.190148  1924.0
Media                           25.0   8830.560000  11685.332576  1921.0
Motor Vehicles & Parts          24.0  20105.833333  41174.300379  1986.0
Retailing                       80.0  18313.450000  55751.002620  1999.0
Technology                     102.0  13505.882353  30169.473168  1920.0
Telecommunications              15.0  30788.933333  47551.639576  2726.0
Transportation                  36.0  11347.444444  14740.409538  1995.0
Wholesalers                     40.0  11120.000000  11049.255712  1917.0

                                                                  Profits  \
                                  25%     50%       75%       max   count
Sector
Aerospace & Defense           2724.25  6832.0  23316.75   96114.0    20.0
Apparel                       2853.00  3963.0   6676.00   30601.0    15.0
Business Services             2688.00  3160.0   6128.50   19330.0    51.0
Chemicals                     3018.50  4224.0  10198.00   48778.0    30.0
Energy                        2815.50  5271.0  11643.25  246204.0   122.0
Engineering & Construction    2445.75  4564.5   7404.75   18114.0    26.0
Financials                    3115.00  5674.0  12760.50  210821.0   139.0
Food and Drug Stores          3122.00  3971.0  29573.50  153290.0    15.0
Food, Beverages & Tobacco     3673.50  6028.0  14687.00   67702.0    43.0
Health Care                   3160.50  7098.0  20386.00  181241.0    75.0
Hotels, Resturants & Leisure  2759.00  4378.0   9190.00   25413.0    25.0
Household Products            2391.75  4553.0   7946.00   78756.0    28.0
Industrials                   2536.25  3451.5   6907.50  140389.0    46.0
Materials                     3403.00  4160.0   6862.50   22534.0    43.0
Media                         2858.00  3242.0   8633.00   52465.0    25.0
Motor Vehicles & Parts        3269.00  5752.0  11715.75  152356.0    24.0
Retailing                     3483.25  6671.5  12271.75  482130.0    80.0
Technology                    2510.50  4059.5   9195.75  233715.0   102.0
Telecommunications            5376.00  8229.0  20798.50  146801.0    15.0
Transportation                2895.75  5215.0  10836.00   58363.0    36.0
Wholesalers                   3870.00  7356.0  13821.00   48681.0    40.0

                                           ...                   Employees  \
                                     mean  ...      75%      max     count
Sector                                     ...
Aerospace & Defense           1437.100000  ...  2011.00   7608.0      20.0
Apparel                        549.066667  ...   500.50   3273.0      15.0
Business Services              553.470588  ...   653.50   6328.0      51.0
Chemicals                      754.266667  ...  1001.50   7685.0      30.0
Energy                        -602.024590  ...   540.25  16150.0     122.0
Engineering & Construction     204.000000  ...   309.00    803.0      26.0
Financials                    1872.007194  ...  1400.00  24442.0     139.0
Food and Drug Stores          1117.266667  ...  2002.00   5237.0      15.0
Food, Beverages & Tobacco     1195.744186  ...   772.50   7351.0      43.0
Health Care                   1414.853333  ...  1357.50  18108.0      75.0
Hotels, Resturants & Leisure   827.880000  ...   859.00   5920.0      25.0
Household Products             515.285714  ...   484.00   7036.0      28.0
Industrials                    451.391304  ...   459.00   4833.0      46.0
Materials                      102.976744  ...   300.50    991.0      43.0
Media                          973.880000  ...   607.00   8382.0      25.0
Motor Vehicles & Parts        1079.083333  ...   644.00   9687.0      24.0
Retailing                      597.875000  ...   483.75  14694.0      80.0
Technology                    1769.343137  ...   863.25  53394.0     102.0
Telecommunications            3242.466667  ...  2638.50  17879.0      15.0
Transportation                1226.916667  ...   898.50   7610.0      36.0
Wholesalers                    205.825000  ...   219.00   1472.0      40.0

                                                                             \
                                      mean            std     min       25%
Sector
Aerospace & Defense           48402.850000   55389.486777  6955.0  11672.75
Apparel                       23093.133333   21833.228179  5978.0   9259.50
Business Services             26687.254902   37717.982486  2400.0   8350.00
Chemicals                     15455.033333   15644.314440  1979.0   5282.50
Energy                         9745.303279   12949.476412   480.0   2596.00
Engineering & Construction    15642.615385   20625.225235  1036.0   2941.25
Financials                    24172.287770   49070.504370   187.0   3500.00
Food and Drug Stores          93026.533333  129049.965843  1616.0  13225.00
Food, Beverages & Tobacco     28177.488372   46494.442039  1857.0   7285.00
Health Care                   35710.520000   40300.162385  2924.0   9436.00
Hotels, Resturants & Leisure  99369.800000  125535.275256  8500.0  21200.00
Household Products            23072.785714   22183.386913  4406.0   7432.50
Industrials                   33591.934783   55084.589340  4104.0   9775.00
Materials                     14840.069767   12884.845967    52.0   7399.50
Media                         22012.560000   36512.729298  2341.0   7200.00
Motor Vehicles & Parts        45106.666667   61835.587198  2700.0  10862.50
Retailing                     77845.362500  261173.769204  2155.0  12575.00
Technology                    35087.735294   61938.492917  2285.0   8857.00
Telecommunications            55497.866667   82347.959648  2700.0  11363.00
Transportation                42688.694444   76312.912270  1223.0   7950.00
Wholesalers                   13139.925000   15273.192529   500.0   4812.50


                                  50%        75%        max
Sector
Aerospace & Defense           24803.0   62000.00   197200.0
Apparel                       13500.0   23100.00    65300.0
Business Services             13000.0   24736.00   216500.0
Chemicals                      7431.5   18412.50    52000.0
Energy                         5301.5   11242.50    75600.0
Engineering & Construction     7380.0   22000.00    92000.0
Financials                     7621.0   19899.00   331000.0
Food and Drug Stores          20000.0  128150.00   431000.0
Food, Beverages & Tobacco     11500.0   23850.00   263000.0
Health Care                   18800.0   49458.50   203500.0
Hotels, Resturants & Leisure  46500.0  127500.00   505000.0
Household Products            16561.0   31775.00   110000.0
Industrials                   12850.0   25549.25   333000.0
Materials                     12000.0   16848.00    60000.0
Media                         12200.0   20500.00   185000.0
Motor Vehicles & Parts        13550.0   37337.50   215000.0
Retailing                     22704.0   57115.75  2300000.0
Technology                    12905.0   26150.00   411798.0
Telecommunications            18000.0   49715.00   281450.0
Transportation                16664.0   32275.00   341240.0
Wholesalers                    8700.0   14750.00    78500.0

[21 rows x 24 columns]

In [5]:
sectors["Revenue"].sum()
sectors["Employees"].sum()
sectors["Profits"].max()
sectors["Profits"].min()
sectors["Employees"].mean()

sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

## Grouping by Multiple Columns

In [7]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby(["Sector", "Industry"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [8]:
sectors.size()
sectors.sum()
sectors["Revenue"].sum()
sectors["Employees"].mean()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                              48402.850000
Apparel                     Apparel                                            23093.133333
Business Services           Advertising, marketing                             62050.000000
                            Diversified Outsourcing Services                   50595.000000
                            Education                                          15585.000000
                            Financial Data Services                            13943.473684
                            Miscellaneous                                      12573.333333
                            Temporary Help                                     12004.000000
                            Waste Management                                   23839.800000
Chemicals                   Chemicals                                          15455.033333
Energy                      Energy                                              5005.142857
                            Mining, Crude-Oil Production                        5325.357143
                            Miscellaneous                                       6700.000000
                            Oil and Gas Equipment, Services                    25088.333333
                            Petroleum Refining                                 14404.705882
                            Pipelines                                           6011.750000
                            Utilities: Gas and Electric                        10249.487805
Engineering & Construction  Engineering, Construction                          26293.142857
                            Homebuilders                                        3217.000000
Financials                  Commercial Banks                                   54965.142857
                            Diversified Financials                             21940.933333
                            Insurance: Life, Health (Mutual)                    5880.100000
                            Insurance: Life, Health (stock)                    11235.166667
                            Insurance: Property and Casualty (Mutual)          19021.142857
                            Insurance: Property and Casualty (Stock)           28361.535714
                            Real estate                                        10705.266667
                            Securities                                          7940.333333
Food and Drug Stores        Food and Drug Stores                               93026.533333
Food, Beverages & Tobacco   Beverages                                          22123.000000
                            Food Consumer Products                             33271.950000
                                                                                  ...
Materials                   Metals                                             13825.642857
                            Miscellaneous                                         52.000000
                            Packaging, Containers                              20840.375000
Media                       Entertainment                                      21309.111111
                            Publishing, Printing                               23821.428571
Motor Vehicles & Parts      Motor Vehicles and Parts                           45106.666667
Retailing                   Automotive Retailing, Services                     17497.400000
                            General Merchandisers                             340810.000000
                            Specialty Retailers: Apparel                       42807.944444
                            Specialty Retailers: Other                         44619.333333
Technology                  Computer Peripherals                               43814.750000
                            Computer Software                                  27771.142857
                            Computers, Office Equipment                        66869.285714
                            Information Technology Services                    75818.384615
                            Internet Services and Retailing                    28723.666667
                            Network and Other Communications Equipment         21379.285714
                            Scientific,Photographic and Control Equipment      19291.750000
                            Semiconductors and Other Electronic Components     26065.391304
Telecommunications          Telecommunications                                 55497.866667
Transportation              Airlines                                           43511.222222
                            Mail, Package, and Freight Delivery               332137.500000
                            Miscellaneous                                       4200.000000
                            Railroads                                          24368.800000
                            Transportation Equipment                           11945.200000
                            Transportation and Logistics                       24938.200000
                            Trucking, Truck Leasing                            18939.555556
Wholesalers                 Miscellaneous                                       9200.000000
                            Wholesalers: Diversified                            9353.240000
                            Wholesalers: Electronics and Office Equipment      20832.625000
                            Wholesalers: Food and Grocery                      19317.500000
Name: Employees, Length: 79, dtype: float64

## The `.agg()` Method

In [9]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [12]:
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [13]:
sectors.agg({"Revenue" : ["sum", "mean"],
             "Profits" : "sum",
              "Employees" : "mean"})

                              Revenue               Profits     Employees
                                  sum          mean     sum          mean
Sector
Aerospace & Defense            357940  17897.000000   28742  48402.850000
Apparel                         95968   6397.866667    8236  23093.133333
Business Services              272195   5337.156863   28227  26687.254902
Chemicals                      243897   8129.900000   22628  15455.033333
Energy                        1517809  12441.057377  -73447   9745.303279
Engineering & Construction     153983   5922.423077    5304  15642.615385
Financials                    2217159  15950.784173  260209  24172.287770
Food and Drug Stores           483769  32251.266667   16759  93026.533333
Food, Beverages & Tobacco      555967  12929.465116   51417  28177.488372
Health Care                   1614707  21529.426667  106114  35710.520000
Hotels, Resturants & Leisure   169546   6781.840000   20697  99369.800000
Household Products             234737   8383.464286   14428  23072.785714
Industrials                    497581  10816.978261   20764  33591.934783
Materials                      259145   6026.627907    4428  14840.069767
Media                          220764   8830.560000   24347  22012.560000
Motor Vehicles & Parts         482540  20105.833333   25898  45106.666667
Retailing                     1465076  18313.450000   47830  77845.362500
Technology                    1377600  13505.882353  180473  35087.735294
Telecommunications             461834  30788.933333   48637  55497.866667
Transportation                 408508  11347.444444   44169  42688.694444
Wholesalers                    444800  11120.000000    8233  13139.925000

In [14]:
sectors.agg(["size", "sum", "mean"])

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

## Iterating through Groups

In [15]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [9]:
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [10]:
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_company_in_group)

In [11]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [10]:
cities = fortune.groupby("Location")
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [12]:
for city, data in cities:
    highest_revenue_in_city = data.nlargest(1,"Revenue")
    df = df.append(highest_revenue_in_city)

In [21]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
915,Domino’s Pizza,"Hotels, Resturants & Leisure",Food Services,"Ann Arbor, MI",2217,193,11900
596,Colfax,Industrials,Industrial Machinery,"Annapolis Junction, MD",3967,168,17087
215,Land O’Lakes,"Food, Beverages & Tobacco",Food Consumer Products,"Arden Hills, MN",13161,308,10000
190,AES,Energy,Utilities: Gas and Electric,"Arlington, VA",14963,306,21000
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
310,Autoliv,Motor Vehicles & Parts,Motor Vehicles and Parts,"Auburn Hills, MI",9170,457,59350
304,Hormel Foods,"Food, Beverages & Tobacco",Food Consumer Products,"Austin, MN",9264,686,20700
181,Whole Foods Market,Food and Drug Stores,Food and Drug Stores,"Austin, TX",15389,536,76300
668,PolyOne,Chemicals,Chemicals,"Avon Lake, OH",3378,145,6900
573,T. Rowe Price,Financials,Securities,"Baltimore, MD",4201,1223,5999
420,Baxalta,Health Care,Pharmaceuticals,"Bannockburn, IL",6149,956,17000
624,Albemarle,Chemicals,Chemicals,"Baton Rouge, LA",3651,335,6963
207,Kellogg,"Food, Beverages & Tobacco",Food Consumer Products,"Battle Creek, MI",13525,614,33577
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
147,Paccar,Motor Vehicles & Parts,Motor Vehicles and Parts,"Bellevue, WA",19115,1604,23000
645,Regal Beloit,Industrials,"Electronics, Electrical Equip.","Beloit, WI",3510,143,26200
134,Whirlpool,Industrials,"Electronics, Electrical Equip.","Benton Harbor, MI",20891,783,97000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
594,Ametek,Technology,"Scientific,Photographic and Control Equipment","Berwyn, PA",3974,591,15400
60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132,3605,126000
399,Cablevision Systems,Telecommunications,Telecommunications,"Bethpage, NY",6510,175,13549
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246,-33,12200
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674,1062,23916
558,MDU Resources Group,Energy,Energy,"Bismarck, ND",4376,-622,8689
...,...,...,...,...,...,...,...
120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247,2074,61000
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470,82,2997
431,Zimmer Biomet Holdings,Health Care,Medical Products and Equipment,"Warsaw, IN",5998,147,17500
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520,498,6000
898,MPM Holdings,Chemicals,Chemicals,"Waterford, NY",2289,-83,5000
874,Granite Construction,Engineering & Construction,"Engineering, Construction","Watsonville, CA",2371,61,3200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
240,Toys “R” Us,Retailing,Specialty Retailers: Other,"Wayne, NJ",11802,-130,62000
785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730,286,10057
383,AK Steel Holding,Materials,Metals,"West Chester, OH",6693,-509,8500
829,Platform Specialty Products,Chemicals,Chemicals,"West Palm Beach, FL",2542,-309,8200
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
456,Ingredion,"Food, Beverages & Tobacco",Food Production,"Westchester, IL",5621,402,11500
439,TravelCenters of America,Retailing,Specialty Retailers: Other,"Westlake, OH",5851,28,18450
396,Terex,Industrials,Construction and Farm Machinery,"Westport, CT",6543,146,20400
847,ITT,Industrials,Industrial Machinery,"White Plains, NY",2486,352,9700
389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644,789,15200
849,Tops Holding,Food and Drug Stores,Food and Drug Stores,"Williamsville, NY",2472,-62,14800
674,Westinghouse Air Brake Technologies,Industrials,Industrial Machinery,"Wilmerding, PA",3308,399,13000
101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940,1953,52000
607,Fastenal,Retailing,Specialty Retailers: Other,"Winona, MN",3869,516,20746
266,Reynolds American,"Food, Beverages & Tobacco",Tobacco,"Winston-Salem, NC",10675,3253,5650
678,Skyworks Solutions,Technology,Semiconductors and Other Electronic Components,"Woburn, MA",3258,798,6700
172,Health Net,Health Care,Health Care: Insurance and Managed Care,"Woodland Hills, CA",16244,186,8584
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510